.wrapper {
  margin-left: auto;
  margin-right: auto; }

body, html {
  font-size: 62.5%;
  background-color: #f9f9f9; }

.wrapper {
  width: 900px;
  display: block; }

* {
  box-sizing: border-box; }
