html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  font-size: 62.5%;
  background-color: #f9f9f9;
  font-family: "ff-dagny-web-pro", sans-serif;
  min-width: 320px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.wrapper {
  width: 100%;
  padding: 1em; }

#hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right; }

#hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #E2C044;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0px; }

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 18px; }

#hamburger span:nth-child(4) {
  top: 36px; }

#hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/*
HEADER STYLES
*/
header {
  font-size: 2.6em;
  background-image: url("../img/banner-bkg.jpg");
  background-position: center;
  background-size: cover;
  height: 250px; }

div.floatbar {
  position: relative; }

#logo {
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  padding: .3em 0;
  color: #E2C044;
  margin-bottom: 10px; }

#logo span {
  color: #D3D0CB;
  font-weight: 400; }

nav {
  position: relative; }

nav ul {
  background: #E2C044;
  width: 100%;
  position: absolute;
  z-index: 100;
  height: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out; }

nav ul.open {
  max-height: 156px; }

nav ul li {
  display: block; }

nav ul li a {
  font-size: 1.4em;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  font-weight: 800;
  text-transform: uppercase;
  color: #000; }

#searchform {
  margin-top: -10px; }

#searchform label {
  display: inline-block;
  background: #D3D0CB;
  padding: 5px 3px;
  font-style: italic; }

#search {
  font-size: 1.4em;
  width: 100%;
  padding: 8px 10px 8px 40px;
  background: #E2C044;
  border: none;
  position: relative; }

div.icon {
  position: relative;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000; }

div.icon:before {
  background-image: url("../img/search.png");
  background-size: 25px 25px;
  display: inline-block;
  height: 25px;
  width: 25px;
  content: "";
  position: absolute;
  z-index: 99;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

#search:focus,
input[type=submit]:focus {
  outline: none; }

p.error {
  background: #D3D0CB;
  font-size: 1.1em;
  color: #63171C;
  font-weight: bold;
  padding: 5px 10px;
  display: none; }

input[type=submit] {
  border: 4px solid #587B7F;
  background: #1E2019;
  text-transform: lowercase;
  font-size: 0.8em;
  color: #E2C044;
  float: right; }
