// Map of breakpoints for my mixin
$breakpoints: (
	small  : 600px,
	medium : 900px,
	large  : 1200px
);

// Font Family
$font-family: "ff-dagny-web-pro",sans-serif;

// Colors
$default: #f9f9f9;
$black: #000;
$red: #63171C;
$grey: #D3D0CB;
$yellow: #E2C044;
$steel: #587B7F;
$darkgreen: #1E2019;