div.wrapper h2{
	font-size: 3em;
	padding: 10px 0;
	font-weight: 800;
	text-transform: uppercase;
	@include mq(small){
		font-size: 4em;
		padding: 10px 30px;
	}
}
div.content{
	padding-top: 0;
	@include mq(medium){
		display: flex;
		flex-wrap: wrap;
	}
}
div.content figure{
	background: $red;
	clear: both;
	padding: 8px;
	margin: 0 0 10px 0;
	@include mq(small){
		font-size: 1.25em;
		margin: 0 30px 10px 30px;
		@include mq(medium){
			width: calc(50% - 60px);
		}
	}
}
div.content figure img{
	width: 75px;
	vertical-align: top;
	@include mq(small){
		width: 125px;
	}
	@include mq(medium){
		width: 185px;
	}
}
div.content figure figcaption{
	width: calc(100% - 75px);
	display: inline-block;
	color: $grey;
	@include mq(small){
		width: calc(100% - 125px);
	}
	@include mq(medium){
		width: calc(100% - 185px);
	}
}
div.content figure figcaption h3{
	font-size: 3em;
	text-align: center;
	padding: 10px;
	font-weight: 800;
}
div.content figure figcaption p.mov-overview{
	padding: 10px;
	font-size:2.5em;
	line-height: 1.25em;
}
div.content figure figcaption p.mov-release{
	padding:0 10px;
	display: block;
	text-align: right;
	font-size: 2.3em;
}
div.content figure figcaption p.mov-release:before{
	content: 'released : ';
	color: $steel;
	font-weight: 800;
}
a.btn-to-mdb{
	border: 4px solid $steel;
	background: $darkgreen;
	text-decoration: none;
	text-transform: lowercase;
	display: block;
	margin: -5px auto 10px auto;
	font-size: 2.3em;
	color: $yellow;
	width: 180px;
	padding: 10px 5px;
	@include mq(medium){
		font-size: 4em;
		width: 340px;
		text-align: center;
	}
}