/*
HEADER STYLES
*/
header{
	font-size: 2.6em;
	background-image: url('../img/banner-bkg.jpg');
	background-position: center;
	background-size: cover;	
	height: 250px;
}
div.floatbar{
	position: relative;
}
#logo{
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
	padding: .3em 0;
	color: $yellow;
	margin-bottom: 10px;
}
#logo span{
	color: $grey;
	font-weight: 400;
}
nav{
	position: relative;
}
nav ul{
	background: $yellow;
	width: 100%;
	position: absolute;
	z-index: 100;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}
nav ul.open{
	max-height: 156px;
}
nav ul li{
	display: block;
}
nav ul li a{
	font-size: 1.4em;
	text-decoration: none;
	padding: 15px 20px;
	display: block;
	font-weight: 800;
	text-transform: uppercase;
	color: $black;
}

#searchform{
	margin-top: -10px;
}
#searchform label{
	display: inline-block;
	background: $grey;
	padding: 5px 3px;
	font-style: italic;
}
#search{
	font-size: 1.4em;
	width: 100%;
	padding: 8px 10px 8px 40px;
	background: $yellow;
	border: none;
	position: relative;
}
div.icon{
	position: relative;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
}
div.icon:before{
	background-image: url('../img/search.png');
	background-size: 25px 25px;
	display: inline-block;
	height: 25px;
	width: 25px;
	content: "";
	position: absolute;
	z-index: 99;
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
}
#search:focus,
input[type=submit]:focus{
	outline: none;
}
p.error{
	background: $grey;
	font-size: 1.1em;
	color: $red;
	font-weight: bold;
	padding: 5px 10px;
	display: none;
}
input[type=submit]{
	border: 4px solid $steel;
	background: $darkgreen;
	text-transform: lowercase;
	font-size: 0.8em;
	color: $yellow;
	float: right;
}
