h2{
	font-size: $size-l;
	font-family: $font;
	text-transform: uppercase;
	padding: 20px 0;
	font-weight: 800;
	font-style: italic;
}
figure{
	float: left;
	display: inline-block;
	width: 49%;
	height: 152px;
	margin: 0 .5% 10px .5%;
	margin-bottom: 10px;
	border: 1px solid #000;
	clear: none;
}
figure img{
	width: 100px;
	vertical-align: top;
}
figure figcaption{
	margin: 5px 0 0 0;
	display: inline-block;
	font-family: $font;
	width: calc(100% - 105px);
}
figure figcaption p{
	padding: 0 5px;
}
p.mov-title{
	font-size: $size-l;
	font-weight: 800;
	text-align: center;
}
p.mov-overview{
	font-size: $size-d;
}
p.mov-release{
	text-align: right;
	padding-top: 5px;
	font-size: $size-s;
}
p.mov-release::before{
	content: "released : ";
}
a.btn-to-mdb{
	color: #00D474;
	background: #081C24;
	text-decoration: none;
	font-family: $font;
	font-size: $size-l;
	padding: 10px 5px;
	border: 4px solid #00d474;
	@include border-radius(10px);
	width: 288px;
	display: block;
	margin: 20px auto;
}