body, html{
	font-size: 62.5%;
	background-color: $default;
	font-family: $font-family;
	min-width: 320px;
}
*{
	box-sizing: border-box;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.wrapper{
	width: 100%;
	padding: 1.3em;
	@include mq(large){
		max-width: 1200px;
		margin: 0 auto;
	}
}